Assignment 8.json
[{"id":"cd2d1391.8a342","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e68aae3e.b5008","type":"ui_form","z":"cd2d1391.8a342","name":"","label":"","group":"7185056c.b3949c","order":9,"width":0,"height":0,"options":[{"label":" Date","value":" date","type":"date","required":true,"rows":null},{"label":"  Time","value":"  time","type":"time","required":true,"rows":null}],"formValue":{" date":"","  time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":270,"y":280,"wires":[["c1a4153.e66a6e8"]]},{"id":"4d719bea.d676d4","type":"inject","z":"cd2d1391.8a342","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"pump schedule\",\"date\":\"28/05/2021\",\"time\":\"3\"}","payloadType":"json","x":110,"y":220,"wires":[["e68aae3e.b5008"]]},{"id":"c1a4153.e66a6e8","type":"function","z":"cd2d1391.8a342","name":"","func":" var d = new Date();\nvar options = { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit'};\nvar _resultDate = d.toLocaleDateString('de-CH', options);\nmsg.payload = _resultDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["6c252891.45ade8","346d169e.85c11a"]]},{"id":"6c252891.45ade8","type":"cloudant out","z":"cd2d1391.8a342","name":"","cloudant":"","database":"pumpdatentime","service":"gcet-iot-app-cloudant-1621840394425-7168","payonly":false,"operation":"insert","x":680,"y":400,"wires":[]},{"id":"346d169e.85c11a","type":"debug","z":"cd2d1391.8a342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":320,"wires":[]},{"id":"7185056c.b3949c","type":"ui_group","name":" datentime","tab":"64edb0e6.c5696","order":1,"disp":true,"width":"6","collapse":false},{"id":"64edb0e6.c5696","type":"ui_tab","name":" pump","icon":"dashboard","order":6,"disabled":false,"hidden":false}]